* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1e293b;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.calculator {
    background-color: #2f3030;
    border-radius: 25px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


.display {
    width: 100%;
    height: 70px;
    margin-bottom: 20px;
    padding: 0 15px;
    font-size: 32px;
    text-align: right;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ecf0f1;
    color: #2c3e50;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


.btn {
    padding: 20px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
    color: white;
}


.btn-number {
    background-color: #34495e;
}


.btn-operator {
    background-color: #7c593a;
}


.btn-action {
    background-color: #1d193b;
}


.btn-equal {
    background-color: #0a4422;
    grid-row: span 2;
}


.btn-zero {
    grid-column: span 2;
}


.btn:hover {
    opacity: 0.85;
    transform: translateY(-2px);
}


.btn:active {
    transform: scale(0.95);
}